.body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
}

.surveyForm {
  font-weight: bolder;
  text-align: center;
  font-size: xx-large;
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(
    to right,
    #2e0537,
    #2f3c77,
    #0073af,
    #00abd6,
    #12e4eb
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-body {
  background-color: #fff;
  max-width: 95%;
  margin: 30px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
.valueHeadings {
  font-weight: 600;
  font-size: large;
  padding-bottom: 15px;
}

.rating-css {
  height: 80px;
  width: 400px;
  padding: 20px;
}

.rating-css div {
  color: #ffe400;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
}

.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 30px;
  text-shadow: 1px 1px 0 #ffe400;
  cursor: pointer;
}

.rating-css input:checked + label ~ label {
  color: #838383;
}

.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}
