* {
  margin: 0;
  align-items: center;
  justify-content: center;
  align-content: center;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: black;
  background-size: 100% 100%;
}

.advice {
  width: 80%;
  height: 30%;
  font-size: large;
  outline: 0.7rem double lightgoldenrodyellow;
  position: fixed;
  top: 35%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(212, 204, 50);
  -webkit-text-stroke: 0.2px #fff;
}
