form {
  background-color: #fff;
  max-width: 100%;
  margin: 30px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.name {
  height: 30px;
  width: 30%;
  border-radius: 7px;
  outline: black;
  display: inline-block;
}

.mail {
  height: 30px;
  width: 50%;
  border-radius: 7px;
  outline: black;
  display: inline-block;
}

.body {
  display: flex;
}

.rating-css {
  height: 80px;
  width: 400px;
  padding: 20px;
}

.rating-css div {
  color: #ffe400;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  padding: 20px 0;
}

.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 30px;
  text-shadow: 1px 1px 0 #ffe400;
  cursor: pointer;
}

.rating-css input:checked + label ~ label {
  color: #838383;
}

.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}

.table {
  row-gap: 50px;
}

.submit {
  background-color: aqua;
  border-radius: 6px;
  box-shadow: 2px;
}
